*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(4 53 68), #252727);
    color: white;
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.birthday-input{
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);;
}

.square{
    height: 13rem;
    width: 13rem;
    border-radius: 1rem;
    background: linear-gradient(#420e0e, #ab0404);
    position: absolute;
    left: 1rem;
    top: -8rem;
    z-index: -1;
    animation: squareAnimation 5s alternate-reverse infinite ease-in-out;
}
.square2{
    height: 13rem;
    width: 13rem;
    border-radius: 1rem;
    background: linear-gradient(#43a8c6, #082e2a);
    position: absolute;
    right: 2rem;
    bottom: 8rem;
    z-index: -1;
    animation: squareAnimation 5s alternate-reverse infinite ease-in-out;
}
@keyframes squareAnimation {
    0%{
        transform: translateY(0px);
      }
      50%{
        transform: translateY(20px);
      }
      100%{
        transform: translateY(0px);
      }
    
}
.time-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Orbitron', sans-serif;  
    position: relative;
}
input{
    border: 1px green;
    
}
#text{
 font-size: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 box-shadow: 0 15px 25px rgba(0,0,0,0.1); */
 border: 1px solid rgba(255,255,255,0.1);
 border-radius: 5px;
     height: 100%;
    width: 100%;
} 
.text{
    display: inline-block;
    height: 3rem;
    width: 15rem;
    backdrop-filter: blur(2px);
    color: white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);

    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}
.input-container{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#birthday-input{
    margin-right: 2rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    color:white;
    outline: none;
    border: none;
}
.time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 80%;
    flex-wrap: wrap;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);;
    backdrop-filter: blur(12px);

}
.date{
    overflow: hidden;
}
.year,.month,.day,.hour,.minute,.millisecond,.second{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    height: 6rem;
    width: 12rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    /* color: black; */
}
.year{
    font-size: 7em;
 
}

.year:hover::after{
    position: absolute;
    top:12rem;
    font-size: 3rem;
    content: "Year";
}
.month{
    font-size: 6em;
}
.month:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "Month";
}
.day{
    font-size: 5em;
}
.day:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "Day";
}
.hour{
    font-size: 4em;
}
.hour:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "Hour";
}
.minute{
    font-size: 3em;
}
.minute:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "Minute";
}
.second{
    font-size: 2em;
    width: 4rem;
}
.second:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "Seconds";
}
.millisecond{
    font-size: 1em;
    width: 7rem;
}
.millisecond:hover::after{
    position: absolute;
    top:12rem;
    font-size: 2rem;
    content: "ms";
}